@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 0;
}
@media(max-width:521){
  .container{
    padding: 16px 0px;
  }
}
@media(max-width:768px){
  .container{
    padding: 40px 0px;
  }
}
@media(max-width:991px){
  .container{
    padding: 60px 0px;
  }
}